.cover-background {
  background-size: cover;
  background-repeat: no-repeat;
}
.modal-background {
  .mat-mdc-dialog-surface {
    background-color: var(--background);
    border-radius: var(--bs-border-radius-lg) !important;
  }
}

@media (max-width: 1100px) {
  .navbar {
    width: 100%;
  }
}
